order {

  .comment-order {
    ion-icon {
      vertical-align: middle !important;
      font-size: 23px;
    }
  }

  .closed {
    max-height: 0;
    transition: max-height 0.25s ease-out;
  }

  .open {
    max-height: 100000px;
    transition: max-height 0.25s ease-in;
  }

  ion-label {
    margin: 0 !important;
    min-height: 20px;
  }

  .no-padding {
    padding: 0 !important;
  }

  .toolbar-title {
    text-overflow: unset;
    white-space: unset;
  }

}
