page-about {


  .settings-icon {
    float: right;
    font-size: 23px;
    padding-right: 5px;
  }

  ion-label {
    margin: 0 !important;
    min-height: 20px;
  }

  .no-padding {
    padding: 0 !important;
  }

  .bold {
    font-size: 16px;
    font-weight: bolder;
  }

}
